* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*=======================

  Universtal Styling

=========================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
}

h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
}

p,
ul {
  font-family: "Sahitya", serif;
}

p {
    line-height: 26px;
    margin: 15px 0;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 15px;
}

/*=====================

  Header

=========================*/

header {
    background: white;
    padding: 20px;
}

header nav ul li {
    display: inline;
    padding: 0 15px;
}

header nav a:hover{
  color: #decce1;
}

header nav a {
     text-decoration: none;
     background: #0cefd1;
     color: white;
     font-weight: bold;
     text-transform: uppercase;
     font-size: x-large;
     position: relative;
     left: 500px;
}

.logo-container,
header nav {
    display: inline-block;
    vertical-align: right;
}

/*=====================

  Home Page Styling

=========================*/

.hero-image {
    width: 100%;
    object-fit: cover
}
